.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    margin-left: 10px;
}

.form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}

.gallery {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;

}

.gallery ul {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;

}

.gallery ul li {
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.gallery-item {
    border: 1px solid #ccc;
    border-radius: 5px;
}

.gallery-item img {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.loader {
    display: none;
    width: 48px;
    height: 48px;
    border: 5px solid;
    border-color: #FF3D00 transparent;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.load-more{
    display: none;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
